.fon
{
	min-height: 300px;
	width: 600px;
	margin: 0 auto;
	background-color: #DDF0FA;
	border: 1px solid gray;
	margin-top: 180px;
}

.auto
{
    float: right;
    background-color: #BFE2F5;
    height: 200px;
    width: 300px;
    border: 1px solid gray;
    margin-right: 15px;
    margin-top: -30px;
}
            
.priv
{ 
    margin-left: 25px;
    margin-top: 30px;
    position: absolute;
    border-left: 15px;
    height: 100px;
    width: 250px;
}
            
img
{
    margin-left: 30px;
}
           
h2
{
    font-size: 30pt;
    margin-left: 300px;
    color: red;
}
            
.user
{
    margin-left:15px;
    margin-top: 30px;
                
}
            
.pass
{
    margin-top: 20px;
    margin-left:15px;
}
            
.but
{
	margin-left: 15px;
    margin-top: 20px;
    height: 30px;
    width: 50px;
    background-color: #BFE2F5;
    border-style: solid;
    border: 1px solid darkgray;
	cursor:pointer;
}
.vhod